
@model PierresTreats.Models.Treat

<h1>Unable to add treat to flavor: treat is already added to this flavor.</h1>

<p>@Html.ActionLink("Back to treat details", "Details", new { id = Model.TreatId })</p>