@using System.Security.Claims;
@using PierresTreats.ViewModels;

@model PierresTreats.Models.ApplicationUser

<h1>Account Details</h1>
<hr />
<h3>User Name: @Model.UserName</h3>
<h3>Email: @Model.Email</h3>